/node_modules
package-lock.json
index.cpython-310.pyc
python_version/index.spec
python_version/build/index/Analysis-00.toc
python_version/build/index/base_library.zip
python_version/build/index/EXE-00.toc
python_version/build/index/index.exe.manifest
python_version/build/index/index.pkg
python_version/build/index/PKG-00.toc
python_version/build/index/PYZ-00.pyz
python_version/build/index/PYZ-00.toc
python_version/build/index/Tree-00.toc
python_version/build/index/Tree-01.toc
python_version/build/index/Tree-02.toc
python_version/build/index/warn-index.txt
python_version/build/index/xref-index.html
python_version/dist/index.exe
javascript_version/index-linux
javascript_version/index-macos
javascript_version/index-win.exe
